<header id="header">
    <div id="header-outer" class="outer">
        <div id="header-inner" class="inner">
            <a id="main-nav-toggle" class="nav-icon" href="javascript:;"></a>
            <a id="logo" class="logo-text" href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
            <nav id="main-nav">
                {{ range .Site.Menus.main }}
                <a class="main-nav-link" href="{{ .URL }}">{{ .Name }}</a>
                {{ end }}
            </nav>
            <nav id="sub-nav">
                <div id="search-form-wrap">
                    <form method="get" id="search" action="https://duckduckgo.com/">
                        <input type="hidden" name="sites" value="https://cezarcruz.com.br"/>
                        <input type="hidden" name="k8" value="#444444"/>
                        <input type="hidden" name="k9" value="#D51920"/>
                        <input type="hidden" name="kt" value="h"/>
                        <input type="submit" value="" style="visibility: hidden;" />
                        <input type="text" name="q" maxlength="255" placeholder="Buscar&hellip;"/>
                    </form>
                </div>
            </nav>
        </div>
    </div>
</header>